---
import LogoCloud from "./LogoCloud.astro";
import ARROW_RIGHT from "../../assets/images/icons/arrow-right.astro";
---

<div class="divider divider-start">About the Work</div>
<div class="stats stats-vertical lg:stats-horizontal">
  <div class="stat">
    <div class="stat-title">Clarity over AI complexity</div>
    <div class="stat-value text-primary">100+ sessions</div>
  </div>

  <div class="stat">
    <div class="stat-title">Execution for the overwhelmed</div>
    <div class="stat-value text-secondary">50+ engineers</div>
  </div>

  <div class="stat">
    <div class="stat-title">Only clear systems that work</div>
    <div class="stat-value">0% AI theater</div>
  </div>
</div>

<LogoCloud />

<div class="flex justify-end">
  <button class="btn btn-soft btn-md btn-primary">
    See my work <ARROW_RIGHT />
  </button>
</div>
