@import "tailwindcss";
@import "./fonts.css";
@plugin "@tailwindcss/typography";
@theme {
    --color-light-100: #F0EFEC;
    --color-light-200: #F0E8D6;
    --color-light-300: #EdE3CE;
}
@plugin "daisyui/theme" {
    name: "xue-hua.com";
    default: true;
    prefersdark: true;
    color-scheme: dark;
    --color-base-100: oklch(27% 0.006 286.033);
    --color-base-200: oklch(21% 0.006 56.043);
    --color-base-300: #847E89;
    --color-base-content: #F0EFEC;
    --color-primary: rgba(255, 202, 75, 1);
    --color-primary-content: #141414;
    --color-secondary: #FFE099;
    --color-secondary-content: #141414;
    --color-accent: #ef9e6f;
    --color-accent-content: #141414;
    --color-neutral: #F0EFEC;
    --color-neutral-content: #141414;
    --color-info: oklch(70% 0.165 254.624);
    --color-info-content: #141414;
    --color-success: oklch(77% 0.152 181.912);
    --color-success-content: #141414;
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: #141414;
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: #141414;
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.3125rem;
    --size-field: 0.28125rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}

@theme {
    --font-sans: 'Open Sans';
    --font-heading: 'Poppins';
    --color-neutral-accent: #847e89;
    --color-neutral-accent-content: #141414;
    --color-neutral-light: #F0E8D6;
}

body {
    font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}

h1, h2, h3 {
    font-family: var(--font-heading), ui-sans-serif, system-ui, sans-serif;
    font-weight: 600;
}

.btn {
    font-family: var(--font-heading), ui-sans-serif, system-ui, sans-serif;
    font-weight: 600;
}

.text-neutral { color: var(--color-neutral); }
