@plugin "daisyui" {
  themes: default;
}

.content {
  & > * {
    @apply px-8;
  }
}

.divider {
  @apply pt-8;
}

.hero-container {
  @apply box-content flex min-h-screen w-full bg-black pb-20;
}

.hero-video {
  @apply absolute flex h-svh w-full items-center overflow-hidden;
  & > video {
    @apply h-8/10 object-cover opacity-80;
  }
}

.hero-section {
  @apply flex max-h-svh max-w-full flex-col justify-between gap-8;
}

.hero-section-content {
  @apply z-10 flex flex-1 flex-col justify-between px-8 text-center;
}

.hero-section-title {
  @apply flex flex-1 flex-col justify-center gap-8;
}

.hero-text {
  text-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 3px rgba(0, 0, 0, 0.25),
    0 0 10px rgb(255, 255, 255, 0.3),
    0 0 150px rgba(255, 255, 255, 0.2),
    0 0 100px rgba(1, 1, 1, 1);
  @apply max-w-full text-5xl leading-tight font-semibold tracking-wider;
  position: relative;
  & > span {
    @apply blur-[1.3px];
  }
  &::before {
    content: "";
    position: absolute;
    inset: -1em -2em;
    z-index: -1;
    @apply backdrop-blur-sm;
    mask-image: radial-gradient(ellipse at center, black 20%, transparent 75%);
  }
  &::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    text-shadow: none;
  }
}

.hero-subtitle {
  @apply leading-relaxed opacity-80 text-shadow-md;
}

.hero-bg-overlay-container {
  @apply absolute h-8/10 w-full;
}
.hero-bg-overlay-top {
  @apply absolute h-full w-full bg-linear-to-b from-black to-transparent to-10%;
}
.hero-bg-overlay-bottom {
  @apply absolute h-full w-full bg-linear-to-t from-black to-transparent to-20%;
}

.hero-section-cta {
  @apply flex w-full flex-col gap-8;

  .primary-cta {
    @apply btn btn-md btn-primary;
  }
  .secondary-cta {
    @apply btn text-neutral-light btn-outline btn-md backdrop-blur-md;
  }
}

.hero-section-scroll-down {
  @apply text-base-content/80 flex w-full items-center justify-center pb-8;
  & > * {
    @apply size-6 animate-bounce;
  }
}

.stat {
  @apply gap-4 px-4 py-6;
}

.stats-vertical {
  .stat:not(:last-child) {
    @apply border-r-0 border-solid;
  }
  .stat:is(:first-child) {
    @apply pt-0;
  }
}

.stat-title {
  @apply text-base-content/80;
}

.stat-value {
  @apply text-center;
}
