---
import BaseLayout from "../layouts/BaseLayout.astro";
import LogoCloud from "../components/homepage/LogoCloud.astro";
import Offer from "../components/homepage/MainOffer.astro";
import Closing from "../components/homepage/Closing.astro";
import ARROW_RIGHT from "../assets/images/icons/arrow-right.astro";
import Hero from "../components/homepage/Hero.astro";
import Work from "../components/homepage/AboutTheWork.astro";
---

<BaseLayout backgroundColor="bg-black" title="Home">
  <Hero />
  <section class="content bg-neutral-dark flex w-full flex-col gap-10">
    <!-- PANEL 2 -->
    <Work />

    <!-- PANEL 3 -->
    <Offer />

    <!-- PANEL 4 -->
    <div class="bg-neutral-light text-neutral-accent-content flex h-svh w-full flex-col gap-8 p-6">
      <div class="flex w-full flex-col">
        <div class="divider divider-start after:bg-base-100">Explore Content</div>
      </div>
      <Closing />
    </div>
  </section>
</BaseLayout>
<script src="../scripts/IndexScript.js"></script>
