---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/styles.css";
import Hero from "../components/Hero.astro";
---

<!-- TODO: Snap scroll, and make sure face is never covered-->
<BaseLayout title="Home">
  <div class="hero h-[calc(100dvh-4rem)] bg-top">
    <!--bg-[url(../assets/images/hero-overlay.jpg)]-->
    <div class="hero-overlay"></div>
    <Hero />
    <section
      class="hero-content h-full flex-col justify-between px-8 py-24 text-center"
    >
      <div class="flex max-w-md flex-col gap-8">
        <h1 class="hero-text font-semibold" data-text="Engineering Purpose">
          <span class="blur-[1.3px]"> Engineering Purpose</span>
        </h1>

        <h6 class="hero-subtitle leading-relaxed opacity-80 text-shadow-md">
          I make AI click for your people.<br />Clear systems. Real results.
        </h6>
      </div>
      <div class="flex w-full flex-col gap-6">
        <button class="btn btn-primary btn-md"> Schedule a Workshop</button>
        <button
          class="btn btn-md btn-outline text-neutral-light backdrop-blur-md"
        >
          Explore Resources</button
        >
      </div>
    </section>
    <section
      class="text-base-content/80 flex h-full w-full items-end justify-center pb-6"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 animate-bounce"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"></path>
      </svg>
    </section>
  </div>

  <!-- PANEL 2 -->
  <div class="flex w-full flex-col p-8">
    <div class="flex w-full flex-col">
      <div class="divider divider-start">About the Work</div>
    </div>

    <div class="stats stats-vertical lg:stats-horizontal w-full">
      <div class="stat">
        <div class="stat-title">Clarity over AI complexity</div>
        <div class="stat-value text-primary text-center">100+ sessions</div>
      </div>

      <div class="stat">
        <div class="stat-title">Execution for the overwhelmed</div>
        <div class="stat-value text-secondary text-center">50+ engineers</div>
      </div>

      <div class="stat">
        <div class="stat-title">Only clear systems that work</div>
        <div class="stat-value text-center">0% AI theater</div>
      </div>
    </div>

    <div
      class="card card-border bg-neutral-light text-neutral-content card-md w-96 shadow-sm"
    >
      <div class="card-body">
        <h2 class="card-title">Medium Card</h2>
        <p>
          A card component has a figure, a body part, and inside body there are
          title and actions parts
        </p>
        <div class="card-actions justify-end">
          <button class="btn btn-accent">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
