---
import ARROW_RIGHT from '../assets/images/icons/arrow-right.svg?raw';
---

<div class="flex w-full flex-col gap-8">
  <div class="card bg-primary py-3">
    <div class="card-body gap-6">
      <h2 class="card-title -mb-4 text-3xl">Industry peers</h2>
      <div class="flex gap-1 tracking-wide">
        <div class="badge badge-soft badge-xs">Engineers</div>
        <div class="badge badge-soft badge-xs">Leaders</div>
        <div class="badge badge-soft badge-xs">Teams</div>
      </div>
      <p class="text-lg">
        I build systems that intersect code, UX, and AI tooling — shaping experiences users enjoy.
      </p>
      <div class="card-actions justify-end">
        <button class="btn btn-soft"
          >How I work
          <Fragment set:html={ARROW_RIGHT} />
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card card-border border-base-100/60 py-3">
  <div class="card-body gap-6">
    <h2 class="card-title -mb-4 text-3xl">Emerging engineers</h2>
    <div class="flex gap-1 tracking-wide">
      <div class="badge badge-soft badge-xs">Early Career</div>
      <div class="badge badge-soft badge-xs">New Grads</div>
      <div class="badge badge-soft badge-xs">Students</div>
    </div>
    <p class="text-lg">
      Engineering Purpose begins with clarity and systems that grow with you. Here are my guides and
      resources.
    </p>
    <div class="card-actions justify-end">
      <button class="btn btn-soft">Start Here <Fragment set:html={ARROW_RIGHT} /> </button>
    </div>
  </div>
</div>
