---
import { FOOTER } from "../constants/strings/footer.strings";
---

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside>
    <p>{FOOTER.copyright.label}</p>
  </aside>
  {
    FOOTER.sections.map((section) => (
      <nav>
        <h6 class="footer-title">{section.label}</h6>
        {section.content.map((item) => (
          <a href={item.href} class="link link-hover">
            {item.label}
          </a>
        ))}
      </nav>
    ))
  }
</footer>
