<div class="flex flex-col">
  <!-- spacer -->
  <p class="size-2"></p>

  <!--Line 1-->
  <div class="text-4xl">
    You <span class="decoration-accent underline decoration-2">expensed</span>
    the
    <span class="decoration-accent underline decoration-2">AI</span>.
  </div>

  <!-- spacer -->
  <p class="size-4"></p>

  <!-- line 2 -->
  <div class="text-2xl">
    Wasn't this supposed to<br /><i
      class="decoration-neutral-accent/50 underline decoration-2">supercharge</i
    > how you work <span class="text-3xl font-light">?</span>
  </div>

  <!-- spacer -->
  <p class="size-8"></p>

  <!-- line 3 -->
  <div class="flex justify-end">
    <div class="text-2xl font-medium">
      Let’s make it happen<span class="text-3xl font-light">.</span>
    </div>
  </div>

  <!-- spacer -->
  <p class="size-8"></p>
</div>

<div
  class="bg-base-200 text-base-content -mx-6 -mb-6 flex flex-col rounded-none py-8 shadow-sm"
>
  <div class="flex flex-col px-10">
    <div class="flex flex-col gap-2">
      <h2 class="text-3xl">AI Skills Lab</h2>
      <h4 class="text-lg font-light opacity-80">
        A focused, hands-on lab designed to make AI part of your team’s real
        workflow.
      </h4>
    </div>
    <h4 class="pt-8 pb-4 text-lg font-semibold tracking-wide">Outcomes</h4>
    <ul class="text-md flex flex-col gap-2">
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="text-accent me-2 inline-block size-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"></path></svg
        >
        <span>Debug with AI instead of stalling</span>
      </li><li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="text-accent me-2 inline-block size-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"></path></svg
        >
        <span>Immediate daily workflows wins</span>
      </li><li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="text-accent me-2 inline-block size-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"></path></svg
        >
        <span>90-min working session (not a keynote)</span>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="text-accent me-2 inline-block size-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"></path></svg
        >
        <span>Pre-session diagnostic</span>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="text-accent me-2 inline-block size-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"></path></svg
        >
        <span>Execution brief with Clears + priorities</span>
      </li>
      <li class="opacity-50">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="text-base-content/50 me-2 inline-block size-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"></path></svg
        >
        <span class="line-through">Dollars down the drain</span>
      </li>
    </ul>
  </div>
  <div class="flex flex-col items-center justify-center px-8 pt-8 pb-2">
    <button class="btn btn-block btn-outline border-accent/90"
      >AI Skills Lab<svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="text-accent size-6"
      >
        <path
          fill-rule="evenodd"
          d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
</div>
