---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import BaseHead from "./BaseHead.astro";
import Navbar from "../components/Navbar.astro";

const { seo } = Astro.props;
---

<html lang="en">
  <BaseHead seo={seo} />
  <body class="flex flex-col min-h-screen">
    <Navbar />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
