---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import BaseHead from "./BaseHead.astro";
import Navbar from "../components/Navbar.astro";
const { backgroundColor } = Astro.props;
---

<BaseHead seo={{ title: "Home" }}>
  /* TODO: Maybe can make min-height */
  <body class="flex flex-col justify-between">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</BaseHead>
