---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import BaseHead from "./BaseHead.astro";
import Navbar from "../components/Navbar.astro";
const { backgroundColor } = Astro.props;
---

<html lang="en" class=`${backgroundColor}`>
  <BaseHead seo={{title: "Home"}} />
  <body class="flex min-h-screen flex-col justify-between">
    <Navbar />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
